@media screen and (min-width: 0px) and (max-width: 767px) {
    #sidebar-nav {
        text-align: center;
    }
}

/* --- Sidebar menu alignment --- */
@media screen and (min-width: 768px) and (max-width: 920px) {
    .box  {
        padding-left: 1vw;
    }
}
@media screen and (min-width: 921px) and (max-width: 1050px) {
    .box  {
        padding-left: 2vw;
    }
}
@media screen and (min-width: 1051px) and (max-width: 1250px) {
    .box  {
        padding-left: 2.5vw;
    }
}
@media screen and (min-width: 1251px) and (max-width: 1325px) {
    .box  {
        padding-left: 3vw;
    }
}


@media only screen and (min-width: 1326px) {
    .box  {
        padding-left: 3.5vw;
    }
}

@media only screen and (min-width: 768px) {
    .box {
        display: flex;
    }
    .box > div {
        padding: .5rem;
    }
}