.auth-container {
    height: 100vh;
    padding: 0;
    margin: 0;
}
.auth-sidebar {
    background: -webkit-gradient(linear, left top, left bottom, from(#00BCD4),to(#42548e));
    height: 100vh;
}
.auth-sidebar h2, h3, h4 {
    color: #fff;
}

.form {
    padding-top: 15rem;
    text-align: center;
    display: flex;
    justify-content: center;
}
.form div {
    max-width: 450px;
    justify-content: center;
}
.form h2 {
    color: #2f7fab;
}

.sidebar-bttn {
    border: 1px solid #fff;
    border-radius: 15rem;
    padding: .5rem;
    color: #fff;
    font-size: 16px;
}
.sidebar-text {
    top: 15rem;
    text-align: center;
}

.forgot-divider {
    width: 100%;
}
.forgot-divider span {
    font-size: 12px;
    color: #bbbbbb;
}

.submit-bttn {
    border: 1px solid rgb(113, 157, 248) !important;
    color: rgb(113, 157, 248) !important;
}


