.like-bttn {
    margin-right: .5rem;
};

.budge-style {
    background-color: #fff !important;
    color: #999;
    box-shadow: 0 0 0 1px #d9d9d9 inset
};

.like-bttn i {
    font-size: 15px;
}

.font-26 {
    font-size: 26px;
}