.dashboard {
    display: flex;
    padding: 0;
    margin: 0;
}


/* --- Sidebar --- */
.sidebar-container {
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    width: 100px;
    height: 100vh;
    background: -webkit-linear-gradient(top, #446ca2, #184076);
    text-align: center;
}

.sidebar-icons > div {
    padding-top: .75rem;
}

.sidebar-icon {
    font-size: 23px;
    color: #fff;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.sidebar-logo { padding: 1rem }
.sidebar-logo :first-child {
    font-size: 14px;
    color: #fff;
    padding: 1rem;
    opacity: .75;
}


/* --- sidebar animation --- */
.scene {
    width: 100%;
    height: 100%;
    margin-top: .25rem;
    padding-top: 1.25rem;
}

.box {
    width: 100%;
    height: 100%;
    height: 45px;
    transform-style: preserve-3d;
    transition: all 0.21s ease-out;
    transform-origin: 0 0;
}

.scene:hover .box {
    transform: rotateY(-90deg);
    cursor: pointer;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: 0 0;
}

.front {
    transform: rotate(0deg);
    background-color: #393e46;
}

.font {
    transform: rotateY(90deg);
    left: 80px;
    background-color: #446da283;
    color: #393e46;
    font-size: 20px;
}
.font p {
    color: #fff;
    padding-top: .5rem;
    margin: 0;
}
 

/* --- Body --- */
#dashbody-container {
    width: 100%;
    height: 100%;
}

.body-header {
    background: #f8f9fa;
    width: 100%;
    padding: 1.75rem;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
}
.body-header .row {
    display: flex;
    text-align: right;
}

.header-icons button {
    margin-right: .5rem;
}


/* --- User Wall --- */
.user-wall-container {
    height: 100%;
    padding: 0;
    padding-top: 1rem;
}
.user-wall-inner {
    margin: 0;
    padding: 1rem;
}

.post-list-container {
    height: 100%;
}
.blog-list-inner {
    height: 100%;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    padding: 3rem;
    min-height: 600px;
}

.blog {
    border: 1px solid #ebebeb;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 10px;
}
.blog-bttn small {
    font-size: 15px;
}
.blog-bttn i {
    font-size: 17px;
    padding-top: .75rem;
    margin-right: 1rem;
}

.news-feed-container {
    height: 100%;
}
.new-feed-inner {
    border: 1px solid #ebebeb;
}
.news-feed {

}