
#footer-naviation {
    padding: 0;
    margin: 0;
}

#footer-naviation h2 {
    color: white;
}

#footer-naviation li a {
    color: rgba(255,255,255,.4);
}

#footer-naviation li {
    padding: .3rem;
}
