
/* --- General responsive adjustment --- */
@media screen and (min-width: 0px) and (max-width: 767px) {
    #resume-sidebar:first-child {
        height: 230px;
        padding: 2rem;
        width: 100%;
    }
    #resume-body {
        width: 100%;
    }
    #self-image img {
        max-width: 200px;
    }
    .social-media-container {
        padding: 0 !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1001px) {
    #resume-sidebar {
       max-width: 250px;
    }
    #resume-sidebar ul > li {
        padding-left: 0;
        padding-right: 0
    }
    #sidebar-intro {
        padding: 0;
    }
    #sidebar-icons {
        padding: 0;
    }
    #download-resume {
        padding: 0;
    }
}

@media only screen and (min-width: 768px) {
    #resume-sidebar ul > li {
        width: 100% !important;
    }
}


/* --- Skills list responsive font size --- */
@media screen and (min-width: 0px) and (max-width: 576px) {
    #skills-list #skill-name, #skills-list i {
        font-size: 11px;
    }
    #skills-list li {
        list-style: none;
    }
}
@media screen and (min-width: 577px) and (max-width: 767px) {
    #skills-list #skill-name, #skills-list i {
        font-size: 13px;
    }
    #skills-list li {
        list-style: none;
    }
    #skills-container {
        padding-left: 3vw;
    }
}

@media screen and (min-width: 768px) and (max-width: 800px) {
    #skills-list #skill-name, #skills-list i {
        font-size: 11px;
    }
    #skills-list li {
        list-style: none;
    }
}

@media screen and (min-width: 801px) and (max-width: 920px) {
    #skills-list #skill-name, #skills-list i {
        font-size: 12px;
    }
    #skills-list li {
        list-style: none;
    }
    #skills-container {
        padding-left: 5%;
    }
}
@media screen and (min-width: 921px) and (max-width: 999px) {
    #skills-container {
        padding-left: 3vw;
    }
}

/* --- List responsive padding --- */
@media only screen and (min-width: 1000px) {
    #skills-container {
        padding-left: 5vw;
    }
}