#resume-body #body-header { 
    padding: 0;
    height: 100%;
    background-color: #f8f9fa;
}

#self-image img {
    border: 1px solid white;
    padding: .5rem;
    border-radius: 5px;
}

#skills-list #skill-name, #skills-list i {
    font-weight: 600;
    font-size: 15px;
    padding-right: .1rem;
    padding-left: .1rem;
}

#resume-sidebar ul > li {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#skills-list li {
    list-style: circle;
}

/* --- body header --- */
#body-header button {
    text-align: left;
}
#body-header ul {
    display: flex;
}
#body-header ul li {
    padding: 1rem;
}
#body-header ul li h2 {
    padding-left: 25vw;
    margin: 0;
}
