/* --- Footer body content alignment on xs->extra small window --- */
@media screen and (min-width: 0px) and (max-width: 767px) {
    #footer-body > div {
        width: 100%;
        float: right;
    }
}

@media only screen and (min-width: 768px) {
    #social-media-container {
        padding-top: 3rem;
    }
    #footer-body {
        padding: 3rem;
    }
}