.ant-carousel .slick-active button {
    background: black !important;
}

.ant-carousel li button {
    background: gray !important;
}

#project-main-img {
    border-radius: 5px;
}

.view-text {
    color: dimgrey
}