#intro-container {
    text-align: center;
    background-color: #fbfbfb;
    border: 1px solid #f3f3f3;
    padding: 3rem;
    padding-top: 7rem;
    padding-bottom: 7rem;
    height: 341px;
}

#viewAll-bttn a {
    background: #2a303a;
    color: #fff;
    border-radius: 4rem;
    padding: .9rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

/* --- styling classes --- */
.p-2rem {
    padding: 2rem;
}
.font-2rem {
    font-size: 2rem;
}
.text-5f5f5f {
    color: #5f5f5f;
}