#resume-sidebar  {
    background-image: url(../../../static/images/banner.jpg);
    background-size: cover;
    height: 100vh;
    border-top-right-radius: 7px;
    padding: 1rem;
}

#sidebar-icons i {
    color: #fff;
    font-size: 30px;
    padding: .75rem;
}

#sidebar-intro h4, p {
    color: #fff;
}
#sidebar-intro h4 {
    font-weight: 600;
}
#sidebar-intro p {
    margin: 0;
}

#download-resume a, #download-resume i {
    color: rgba(59, 59, 59, 0.712) !important;
} 