
#showcase-container {
    padding-left: 1rem;
    padding-right: 1rem;
}


/* --- Style Classes --- */
.content-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 26px;
    font-weight: 100;
    line-height: 1.47em;
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .sm-flex {
        display: flex;
    }
    .col-sm-6 {
        width: 50%;
    }
}
