
/* ---- Contaienr ---- */
#header-wrapper {
    padding: 1rem;
    position: absolute;
    z-index: 1;
    border-bottom: 1px solid #ffffffa3;
    
}
#header-container {
    width:100%;
    padding: 1rem;
}
#header-container > ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 1rem;
}


/* --- Logo --- */
#logo-style {
    font-size: 27px;
    font-weight: 800;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: #72343fdc;
    margin: 0 !important;
    padding: .15rem;
    text-align: left;
}
#logo-style::first-letter {
    color: hsl(359, 100%, 59%);
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
}

/* --- Header Nav --- */
#header-nav {
    padding: .5rem;
}
#header-nav i {
    font-size: 23px;
    padding-left: 8px;
    padding-right: 8px;
    color: #e8e8e8;
}
#header-nav ul {
    padding: 1rem;
    margin: 0;
    text-align: center;
}

/* --- Resume Nav Bttn --- */
#resume-bttn:hover {
    transition: ease-in 80ms;
    color: #ff2f32 !important;
}

#resume-bttn {
    padding: 1rem;
    text-align: center;
    border: 1px solid #ff2f32;
    border-radius: 17px;
    cursor: pointer;
}

.btn-imp {
    color: #ff2f32 !important;
}

/* --- class styles --- */
.header-text {
    font-family: 'Bitter', serif;
    color: #e8e8e8;
    font-weight: 400;
    font-size: 15px;
}
.header-text:hover {
    color: #e8e8e8;
    opacity: .8;
}

/* --- extra small hamburger menu adjustment --- */
@media screen and (min-width: 0px) and (max-width: 767px) {
    #header-container {
        display: flex;
    }
    #header-container li {
        width: 100%;
    }
}

