.hm-list-container li {
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    padding-right: 1rem;
    top: 3rem;
}

.hm-list-container li > * {
    padding-right: .7rem;
}

.hm-list-container ul {
    top: 8rem;
}

.hm-list-container ul li {
    padding: 0;
}
.hm-list-container ul li:nth-child(4) {
    margin-right: 0.6rem;
}